@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(219, 219, 219);
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(219, 219, 219);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover {
  color: white;
}

.home {
  height: 100vh;
  background: url("profilez.png") no-repeat;
  background-size: 25%;
  background-position: right 20% bottom 100%;
  z-index: 10;
  transform: translateX(0%);
  transition-timing-function: linear;
  transition: 1s;
  display: flex;
  align-items: center;
  padding: 0 15%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(219, 219, 219);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: rgb(100, 100, 100);
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(219, 219, 219);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(219, 219, 219);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(219, 219, 219);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
  background: #3b3b3b;
  border: 2px solid #3b3b3b;
  border-radius: 8px;
  font-size: 19px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-box a:hover {
  color: #ffffff;
}

.btn-box a:nth-child(1) {
  background: transparent;
  color: #3b3b3b;
}

.btn-box a:nth-child(1):hover {
  color: white;
}

.btn-box a:nth-child(1)::before {
  background: #3b3b3b;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: white;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 68%;
  bottom: 150px;
  width: 170px;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 3px solid #3b3b3b;
  border-radius: 25%;
  font-size: 30px;
  color: #3b3b3b;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #ffffff;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3b3b3b;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .home {
    background-position: 90% 0px;
  }

  .logo {
    display: none;
  }

  .home-content h1 {
    right: 35px;
    font-size: 40px;
  }

  .home-content h3 {
    right: 35px;
    font-size: 25px;
  }

  .home-content p {
    right: 32px;
    font-size: 15px;
  }

  .home-content .btn-box {
    width: 150px;
    height: 50px;
  }

  .home-content .btn-box::before {
    right: -60px;
  }

  .btn-box a {
    left: 40%;
    font-size: 15px;
  }

  .navbar a {
    display: none;
    font-size: 15px;
  }

  .home-sci {
    font-size: 15px;
    left: 28%;
    bottom: 10%;
  }
}
